{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          ":components": "./components",
          ":containers": "./containers",
          ":hooks": "./hooks",
          ":theme": "./theme",
          ":utils": "./utils"
        },
        "root": ["./"]
      }
    ]
  ],
  "presets": ["@zeit/next-typescript/babel", "next/babel"]
}
